/*=======================================
*****************GENERAL******************
=========================================*/
p, a{
   font-family: "Fakt Pro Blond" ,sans-serif;
}

.text-header p, .title, .service-desc .label, .foot-desc, p.desc1 {
    font-family: "Canela" ;
}

/*SECTION TITLE*/

.section-title {
    text-align: center;
    margin: 5rem 0;
}

.section-hr .blue{
    color: #1E9FF3;
}
.section-hr .pink{
    color: #E7007C;
}
.section-hr .yellow{
    color: #FCF200;
}
.section-hr .black{
    color: black;
}

span.section-hr > span {
    font-size: 2rem;
}

.title {
    font-size: 60px;
}

/*=======================================
*****************HEADER******************
=========================================*/

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.header-inner {
    height: 80vh;
    flex-flow: column;
    display: flex;
    justify-content: center;
}

.navbar-nav a {
    color: white !important;
    font-size: 18px;
    margin-left: 3rem;
}

.navbar-nav a:hover {
    text-decoration: underline;
}


a.navbar-brand img {
    width: 100px;
}

span.text-header {
    font-size: 80px;
    font-weight: 400;
}

.desc-format{
	font-size: 18px;
	font-weight: 300px;
}

header a {
    color: white !important;
}
header {
    color: white;
}

.header-subtext {
    width: 70%;
    display: block;
}

.btn-default {
    border: solid 1px;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
}

.btn-white{
	border-color: white;
}

.btn-black{
	border-color: black;
}

.header-subtext {
    margin-bottom: 5rem;
}

.text-header p.ml12 {
    margin-bottom: 5rem;
}


/*=======================================
*****************SLIDER******************
=========================================*/
section#img-carousel1 {
    margin-top: 7rem;
}

.slider img{
 width: 90%;
}

.slick-slide img {
    display: block;
}

/*=======================================
*****************SERVICES******************
=========================================*/
.serv-card {
    position: relative;
	padding: 10% 0 0 10%;
    min-height: 60vh;
    background-size: contain;
    background: no-repeat left;
    background-size: contain;
    background-position: top left;
}
.bg-img {
    position: absolute;
}

.serv-card .bg-img img {
    width: 100%;
    object-fit: contain;
}

.serv-card.offset-top {
    background-position: top right;
}

p.label {
    white-space: nowrap;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}

p.exp {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.serv-card.offset-top {
    padding-top: 0;
    padding-bottom: 10%;
}

.offset-top {
    margin-top: calc( 100vh / 3);
}

.icon {
    margin-right: 2rem;
}

.serv-card-inner {
    display: flex;
}

.serv-card.offset-top .serv-card-inner .service-desc {
    text-align: right;
}
.serv-card.offset-top .serv-card-inner {
    flex-flow: row-reverse;
    align-self: flex-end;
}

.serv-card.offset-top .serv-card-inner .icon {
    margin-right: 0;
    margin-left: 2rem;
}

.serv-card .bg-img {
    top: 0;
    left: 0;
}

.serv-card.offset-top .bg-img {
    right: 0;
    top: 0;
    left: unset;
}

/*=======================================
*****************PRODUCTS******************
=========================================*/
.prod-item {
    margin-bottom: 5rem;
}

.prod-desc {
    padding: 0 1.5rem;
}

.prod-name {
    font-size: 20px;
    font-weight: 400;
}

.prod-price {
    color: #2B2B2B;
}

/*=======================================
*****************FOOTER******************
=========================================*/
footer {
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.footer-inner{
    padding: 5%;
}

.footer-inner img.logo {
    width: 100px;
    align-self: center;
    margin-bottom: 2rem;
}

p.foot-desc {
    font-size: 3rem;
    font-weight: 400;
    line-height: 80px;
}

p.desc1 {
    font-size: 20px;
    font-weight: 400;
}

p.socials a {
    text-decoration: underline;
    color: white;
}

.foot-left{
    width: 70%;
}


.foot-right {
    display: flex;
    width: 30%;
    text-align: right;
    border-color: white;
}

.foot-left .inner {
    width: 85%;
}