/*=======================================
*****************GENERAL******************
=========================================*/
p, a{
   font-family: "Fakt Pro Blond" ,sans-serif;
}

.text-header p, .title, .service-desc .label, .foot-desc, p.desc1 {
    font-family: "Canela" ;
}

.mobile{
    display: none;
}

/*SECTION TITLE*/

.section-title {
    text-align: center;
    margin: 5rem 0;
}

.section-hr .blue{
    color: #1E9FF3;
}
.section-hr .pink{
    color: #E7007C;
}
.section-hr .yellow{
    color: #FCF200;
}
.section-hr .black{
    color: black;
}

span.section-hr > span {
    font-size: 2rem;
}

.title {
    font-size: 60px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}


/*=======================================
*****************HEADER******************
=========================================*/

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.header-inner {
    height: 80vh;
    flex-flow: column;
    display: flex;
    justify-content: center;
}

.navbar-nav a {
    color: white !important;
    font-size: 18px;
    margin-left: 3rem;
}

.navbar-nav a:hover {
    text-decoration: underline;
}


a.navbar-brand img {
    width: 100px;
}

span.text-header {
    font-size: 80px;
    font-weight: 400;
}

.desc-format{
	font-size: 18px;
	font-weight: 300px;
}

header a {
    color: white;
}

header {
    color: white;
}

.header-subtext {
    width: 70%;
    display: block;
}

.btn-default {
    border: solid 1px;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
}

.btn-white{
	border-color: white;
    background-color: white;
    color: black;
}

.btn-white:hover{
    color: white;
    background-color: transparent;
}

.btn-black{
    color: white;
	border-color: black;
    background-color: black;
}

.btn-black:hover{
    color: black;
    background-color: transparent;
}

.header-subtext {
    margin-bottom: 5rem;
}

.text-header p.ml12 {
    margin-bottom: 5rem;
}


/*=======================================
*****************SLIDER******************
=========================================*/
section#img-carousel1, section#img-carousel2 {
    margin-top: 7rem;
}

.slider img{
 width: 90%;
}

.slick-slide img {
    display: block;
}

/*=======================================
*****************SERVICES******************
=========================================*/
.serv-card {
    position: relative;
	padding: 10% 0 0 10%;
    min-height: 60vh;
    background-size: contain;
    background: no-repeat left;
    background-size: contain;
    background-position: top left;
}
.bg-img {
    position: absolute;
    z-index: -2;
}

.serv-card .bg-img img {
    width: 100%;
    object-fit: contain;
}

.serv-card.offset-top {
    background-position: top right;
}

p.label {
    white-space: nowrap;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}

p.exp {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.serv-card.offset-top {
    padding-top: 0;
    padding-bottom: 10%;
}

.offset-top {
    margin-top: calc( 100vh / 3);
}

.icon {
    margin-right: 2rem;
}

.serv-card-inner {
    display: flex;
}

.serv-card.offset-top .serv-card-inner .service-desc {
    text-align: right;
}
.serv-card.offset-top .serv-card-inner {
    flex-flow: row-reverse;
    align-self: flex-end;
}

.serv-card.offset-top .serv-card-inner .icon {
    margin-right: 0;
    margin-left: 2rem;
}

.serv-card .bg-img {
    top: 0;
    left: 0;
}

.serv-card.offset-top .bg-img {
    right: 0;
    top: 0;
    left: unset;
}

/*=======================================
*****************PRODUCTS******************
=========================================*/
.prod-item {
    margin-bottom: 5rem;
}

.prod-desc {
    padding: 0 1.5rem;
}

.prod-name {
    font-size: 20px;
    font-weight: 400;
}

.prod-price {
    color: #2B2B2B;
}

.prod-img img {
    width: 100%;
}

/*=======================================
*****************FOOTER******************
=========================================*/
footer {
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.footer-inner{
    padding: 5%;
}

.footer-inner img.logo {
    width: 100px;
    align-self: center;
    margin-bottom: 2rem;
}

p.foot-desc {
    font-size: 3rem;
    font-weight: 400;
    line-height: 80px;
}

p.desc1 {
    font-size: 20px;
    font-weight: 400;
}

p.socials a {
    text-decoration: underline;
    color: white;
}

.foot-left{
    width: 70%;
    border-right: solid white 1px;
}


.foot-right {
    display: flex;
    width: 30%;
    text-align: right;
    border-left: solid white 1px;
    justify-content: flex-end;
}

.foot-left .inner {
    width: 85%;
}


@media screen and (max-width: 768px){
    p{
        font-size: 16px;
    }

    .pc{
        display: none;
    }

    .mobile{
        display: block;
    }

    .container {
        max-width: 100%;
       /* padding-left: 7.5%;
        padding-right: 14%;*/
    }

    .title {
        font-size: 3rem;
    }
    .navbar-brand {
        display: inline-flex;
        align-self: center;
        justify-self: center;
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    a.navbar-brand img {
        width: 30%;
    }

    .offset-top {
        margin: 0;
    }

    .services-row .serv-card {
        width: 100%;
        max-width: 100%;
    }
    .services-row {
        flex-flow: column;
    }

    .serv-card.offset-top .serv-card-inner {
        flex-flow: row;
        align-self: flex-end;
    }

    .serv-card.offset-top .serv-card-inner .service-desc {
        text-align: left;
    }

    .serv-card.offset-top .serv-card-inner .icon {
        margin-right: 2rem;
        margin-left: 0;
    }

    span.text-header {
        font-size: 3rem;
        font-weight: 400;
        line-height: 50px;
    }

    .navbar-toggler {
        position: absolute;
        right: 1rem;
    }

    .text-header p.ml12 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    header{
        background-position: center;
    }

    .header-inner {
        height: 100%;
        justify-content: unset;
        margin-top: 4rem;
    }
    .header-btns a {
        width: 13rem;
        margin-bottom: 1.5rem;
    }
    .header-btns {
        display: flex;
        flex-flow: column;
    }
    .header-subtext {
        margin-bottom: 0;
    }

    p.label {
        white-space: normal;
        font-size: 25px;
        font-weight: 400;
        line-height: 25px;
    }

    p.exp {
        font-size: 16px;
    }

    .prod-item {
        margin-bottom: 3rem;
        padding: 2%;
    }

    .prod-desc {
        padding: 0;
    }

    .prod-name {
        font-size: .9rem;
        font-weight: 300;
        white-space: nowrap;
        margin: 0;
    }
    footer{
        height: 100%;
    }

    .footer-inner img.logo {
        width: 250px;
        margin-bottom: 5rem;
    }


    .footer-inner > .d-flex {
        flex-flow: column;
    }

    .foot-left{
        border-right: none;
    }


    .foot-right {
        text-align: left;
        border-left: none;
        border-top: solid white 2px;
        justify-content: flex-start;
    }

    .prod-item {
        width: 50%;
    }

    p.foot-desc {
        white-space: nowrap;
    }
}